pipeline/BMI-glucose.json
{
	"name": "BMI-glucose",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Lookup1').output.firstRow.Glucose,\nactivity('Lookup1').output.firstRow.BloodPressure\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Notebook1",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "multiplicador",
									"type": "NotebookReference"
								},
								"parameters": {
									"Glucose": {
										"value": {
											"value": "@activity('Lookup1').output.firstRow.Glucose",
											"type": "Expression"
										},
										"type": "string"
									},
									"BloodPressure": {
										"value": {
											"value": "@activity('Lookup1').output.firstRow.BloodPressure",
											"type": "Expression"
										},
										"type": "string"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}